div.container {
  padding: 8px;
  width: 100%;

  .title {
    text-align: center
  }

  div.calculator {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 8px;

    div.parameters {
      flex-grow: 1;
      display: flex;
      margin: 8px;
    }

    div.explanation {
      flex-grow: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 16px;
      flex-wrap: wrap;

      .wrapper-textarea {
        flex-grow: 1;
        text-align: center;
        margin: 8px;

        textarea {
          height: 512px;
          width: 100%;
          background-color: #FFFAF4;
        }

      }
    }
  }

}
