<div class="container">
  <h2-title [title]="'What is Anova?'" class="title"></h2-title>
  <p> Anova <strong> (Analysis of variance) </strong> is the most widely
    analysis tool in statistics that splits a
    variability in two parts, the systematic part and the random part. </p>
  <p>
    It is used to compare the means of three of more independent treatments and it is an extension of t-test to multiple
    groups. The key idea is to split the variability
    in multiple groups and figure out if the differences in the different variability is associated to the groups or
    just the product of randomness.
  </p>
  <div class="calculator">
    <div class="parameters">
      <form [formGroup]="formGroup">
        <strong><label for="numberTreatments2">Choose the number of different treatments:</label></strong><br>
        <input type="number" id="numberTreatments2" formControlName="provaControl">
        <br><br>
        <strong><label for="significance-level">Enter the significance level:</label></strong><br>
        <input type="text" id="significance-level" value="0.05">
      </form>
      <button class="final">Compute test</button>
    </div>
    <div class="explanation">
      <div class="wrapper-textarea" *ngFor="let numberTreatment of counter(numberTreatments)">
        <h4>Treatment {{numberTreatment}}</h4>
        <textarea></textarea>
      </div>
    </div>
  </div>
</div>
