<side-modal></side-modal>
<div #prova class="container">
  <div class="title">
    <h2-title [title]="'What is Man Whitney?'" class="title"></h2-title>
      <div class="knowMore">
        <button (click)="selected = !selected" [class.active]="selected === true">
          <img src="assets/explain-more-down-arrow.svg" alt="Statistics Title" *ngIf="!selected">
          <img src="assets/explain-less-up-arrow.svg" alt="Statistics Title" *ngIf="selected">
          View theoretical explanation
        </button>
      </div>
  </div>
  <p>
    Also known as the <b>U-test</b> or <b>Range Sum</b> by Wilcoxon, it is used to check if, given two groups of samples, the probability that x (coming from the first group) being
    bigger than y (coming from the second group) is the same as the probability of y being bigger than x. It is, therefore,
    a test to verify if the two samples come from equidistributed populations.
  </p>
    We want to test the null hypothesis <b><span style="display:inline-block" [mathjax]="'$H0$'"></span></b>: which states that there is no differences between the mean of the different groups, with respect to the alternative
    hypothesis <b><span style="display:inline-block" [mathjax]="'$H1$'"></span></b>, which states that there exists at least a pair of distinct means.
    Formally this can be staten as: <br><br>
    <div class="hypothesis">
      <div class="hypothesis-box">
        <div class="inline" [mathjax]="'$H0:  P(x > y) = P(y > x) \\hspace{0.2cm} x \\in G1, y \\in G2$'"></div>
        <div class="inline" [mathjax]="'$H1:  P(x > y) \\neq P(y > x) \\hspace{0.2cm} x \\in G1, y \\in G2$'"></div>
      </div>
    </div>
    <br>
  <div class="calculator" [formGroup]="formGroup" #options="ngForm">
    <div class="parameters">
      <div class="inputs">
        <strong><label for="significance-level">Enter the significance level:</label></strong><br>
        <input type="text" id="significance-level" value="0.05">
      </div>
      <div class="buttonCompute">
        <button class="final" (click)="computeAnova()" [class.blocked]="!options.valid">Compute test</button>
        <span class="errorMessage" *ngIf="!options.valid">Correctly separate values by comma</span>      </div>
    </div>
    <div class="explanation" formArrayName='textAreaFormArray'>
      <div class="wrapper-textarea" [formGroup]="textareaFormGroup" *ngFor="let textareaFormGroup of getTextareasFormArrayControls(); let i=index">
        <div class="upload-btn-wrapper">
          <b><span>Treatment {{i + 1}}</span></b>
          <button class="btn">Upload a CSV</button>
          <form enctype="multipart/form-data">
            <input type="file" name="myfile" (change)="fileupload($event, i)"/>
          </form>
        </div>
        <textarea formControlName='values'></textarea>
      </div>
    </div>
  </div>
  <div *ngIf="resultsMannWhitney">
    More information about the meaning of each cell value <b><a href="https://pingouin-stats.org/generated/pingouin.mwu.html"> here</a></b><br><br>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <th *ngFor="let title of getKeys(resultsMannWhitney)">{{title}}
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let value of getValues(resultsMannWhitney)">{{value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pdfWrapper" *ngIf="selected">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [fit-to-page]="true" style="width: 60%; height: 100vh"
    [show-borders]="true" [render-text-mode]="1">
    </pdf-viewer>
    <div class="closePopup">
      <button (click)="closePopup()">
        <img src="assets/explain-less-up-arrow.svg" alt="Statistics Title">
        Close Explanation
      </button>
    </div>
  </div>
</div>