<div #prova class="container">
    <div class="title">
      <h2-title [title]="'What is Shapiro Wilk?'" class="title"></h2-title>
        <div class="knowMore">
          <button (click)="selected = !selected" [class.active]="selected === true">
            <img src="assets/explain-more-down-arrow.svg" alt="Statistics Title" *ngIf="!selected">
            <img src="assets/explain-less-up-arrow.svg" alt="Statistics Title" *ngIf="selected">
            View Full Explanation
          </button>
        </div>
    </div>
    <p> Anova <strong> (Analysis of variance) </strong> is the most widely
      analysis tool in statistics that splits a
      variability in two parts, the systematic part and the random part. </p>
    <p>
      It is used to compare the means of three of more independent treatments and it is an extension of t-test to multiple
      groups.
    </p>
      We want to test the null hypothesis <span style="display:inline-block" [mathjax]="'$H0$'"></span>: which states that there is no differences between the mean of the different groups, with respect to the alternative
      hypothesis <span style="display:inline-block" [mathjax]="'$H1$'"></span><br> which states that there exists at least a pair of distinct means.
      Formally this can be staten as: <br><br>
      <div class="hypothesis">
        <div class="hypothesis-box">
          <div class="inline" [mathjax]="'$H0: \\mu_{1} = \\mu_{2} = \\cdots = \\mu_{k}$'"></div>
          <div class="inline" [mathjax]="'$H1: \\exists  j, k \\hspace{0.2cm} | \\hspace{0.2cm} \\mu_{j} \\neq \\mu_{k}$'"></div>
        </div>
      </div>
      <br>
<!--
    <div class="calculator" [formGroup]="formGroup">
      <div class="parameters">
        <div class="inputs">
          <strong><label for="prova">Choose the number of different treatments:</label></strong><br>
          <input type="number" id="prova" formControlName="numberTreatments">
          <br><br>
          <strong><label for="significance-level">Enter the significance level:</label></strong><br>
          <input type="text" id="significance-level" value="0.05">
        </div>
        <div class="buttonCompute">
          <button class="final" (click)="computeAnova()">Compute test</button>
        </div>
      </div>
      <div class="explanation" formArrayName='textAreaFormArray'>
        <div class="wrapper-textarea" [formGroup]="textareaFormGroup" *ngFor="let textareaFormGroup of getTextareasFormArrayControls(); let i=index">
            <h4>Treatment {{i + 1}}</h4>
            <textarea formControlName='values'></textarea>
        </div>
      </div>
    </div>
    <br>
    <div class="imageWrapper">
      <div #targetScroll class="firstImage">
        <h2 *ngIf="imageToShow1">Boxplot of our data</h2>
        <img [src]="imageToShow1">
      </div>
      <div class="secondImage">
        <h2 *ngIf="imageToShow2">Normality plot for each of the treatments</h2>
        <img [src]="imageToShow2">
      </div>
    </div> -->
    <!-- <div *ngIf="resultsAnovaNormality">
      <h2>Normality test (Saphiro-Wilk)</h2>
      <p>After seeing the plots we will apply Shapiro-Wilk test to our data. This tests aims to verify the null hypothesis (Data on each group is normal).
        If the p-values we obtain are smaller than our significance level, we will reject the null hytpothesis. We can see on the third row, a boolean variable stating if in each treatment
        we can consider data to be normal (accept null hypothesis) or we should reject it (H1 hypothesis).<br><br>
      </p>
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th *ngFor="let colName of resultsAnovaNormality[0]">{{colName}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of resultsAnovaNormality[1]">
            <td *ngFor="let cell of row" [class.green]="cell === true" [class.red]="cell === false">
              {{cell}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="leveneTest" *ngIf="imageToShow1">
      <h2>Homocedasticity Test</h2>
      In order to compute ANOVA, we should make sure variance is the same in every group. Levene's Test help us
      verify this assumptions. 3rd row states if we should accept the null hypothesis (all variances over the treatments are equal) or reject it.<br><br>
      <div *ngIf="resultsHomocedasticity">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th *ngFor="let colName of resultsHomocedasticity[0]">{{colName}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of resultsHomocedasticity[1]">
              <td *ngFor="let cell of row" [class.green]="cell === true" [class.red]="cell === false">
                {{cell}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <popup *ngIf="isComputing">
    </popup>
    <div *ngIf="resultsAnovaComputation">
      <h2>Anova Computation</h2>
      <p>Finally when all assumptions have been verified we can apply ANOVA. As staten before, if some of the assumptions are not true, ANOVA can give results that are not accurate.
        Check the explanation of the ANOVA (hypothesis needed) on the top of this page to check what are the problems in this cases.
      </p>
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th *ngFor="let colName of resultsAnovaComputation[0]">{{colName}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of resultsAnovaComputation[1]">
            <td *ngFor="let cell of row" [class.green]="cell === true" [class.red]="cell === false">
              {{cell}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="resultsAnovaTukey">
      <h2>Tukey Pairwise Analysis</h2>
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th *ngFor="let colName of resultsAnovaTukey[0]">{{colName}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of resultsAnovaTukey[1]">
          <td *ngFor="let cell of row" [class.green]="cell === true" [class.red]="cell === false">
            {{cell}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="pdfWrapper" *ngIf="selected">
      <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [fit-to-page]="true" style="width: 60%; height: 100vh"
      [show-borders]="true" [render-text-mode]="1">
      </pdf-viewer>
      <div class="closePopup">
        <button (click)="closePopup()">
          <img src="assets/explain-less-up-arrow.svg" alt="Statistics Title">
          Close Explanation
        </button>
      </div>
    </div> -->
  </div>