<side-modal></side-modal>
<div #prova class="container">
    <div class="title">
      <h2-title [title]="'What is Shapiro Wilk?'" class="title"></h2-title>
        <div class="knowMore">
          <button (click)="selected = !selected" [class.active]="selected === true">
            <img src="assets/explain-more-down-arrow.svg" alt="Statistics Title" *ngIf="!selected">
            <img src="assets/explain-less-up-arrow.svg" alt="Statistics Title" *ngIf="selected">
            View Full Explanation
          </button>
        </div>
    </div>
    <p>  <strong> Saphiro Wilk </strong> is a widely used test. </p>
    <p>
      It is used to check if the samples of a group come from a normal distribution or not.
    </p>
      We want to test the null hypothesis <span style="display:inline-block" [mathjax]="'$H0$'"></span>: which states that the samples from the group follow a normal distribution.
      <span style="display:inline-block" [mathjax]="'$H1$'"></span><br> which states that the samples from the group don't follow a normal distribution.
      Formally this can be staten as: <br><br>
      <div class="hypothesis">
        <div class="hypothesis-box">
          <div class="inline" [mathjax]="'$H0:  X \\sim \\mathcal{N}(\\mu,\\,\\sigma^{2})$'"></div>
          <div class="inline" [mathjax]="'$H1:  X \\not\\sim \\mathcal{N}(\\mu,\\,\\sigma^{2})$'"></div>
        </div>
      </div>
      <br>
    <div class="calculator" [formGroup]="formGroup">
      <div class="parameters">
        <div class="inputs">
          <strong><label for="significance-level">Enter the significance level:</label></strong><br>
          <input type="text" id="significance-level" value="0.05">
        </div>
        <div class="buttonCompute">
          <button class="final" (click)="computeAnova()">Compute test</button>
        </div>
      </div>
      <div class="explanation" formArrayName='textAreaFormArray'>
        <div class="wrapper-textarea" [formGroup]="textareaFormGroup" *ngFor="let textareaFormGroup of getTextareasFormArrayControls(); let i=index">
            <h4>Treatment {{i + 1}}</h4>
            <textarea formControlName='values'></textarea>
        </div>
      </div>
    </div>
    <br>
    <div class="imageWrapper">
      <div #targetScroll class="firstImage">
        <h2 *ngIf="imageToShow1">Boxplot of our data</h2>
        <img [src]="imageToShow1">
      </div>
      <div class="secondImage">
        <h2 *ngIf="imageToShow2">Normality plot for each of the treatments</h2>
        <img [src]="imageToShow2">
      </div>
    </div>
 <div *ngIf="resultsSaphireWilkNormality">
      <h2>Normality test (Saphiro-Wilk)</h2>
      <p>After seeing the plots we will apply Shapiro-Wilk test to our data. This tests aims to verify the null hypothesis (Data on each group is normal).
        If the p-values we obtain are smaller than our significance level, we will reject the null hytpothesis. We can see on the third row, a boolean variable stating if in each treatment
        we can consider data to be normal (accept null hypothesis) or we should reject it (H1 hypothesis).<br><br>
      </p>
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>W Statistic</th>
            <th>P Value</th>
            <th>Is Normal?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let value of resultsSaphireWilkNormality[1][0]">{{value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <popup *ngIf="isComputing">
    </popup>
    <div class="pdfWrapper" *ngIf="selected">
      <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [fit-to-page]="true" style="width: 60%; height: 100vh"
      [show-borders]="true" [render-text-mode]="1">
      </pdf-viewer>
      <div class="closePopup">
        <button (click)="closePopup()">
          <img src="assets/explain-less-up-arrow.svg" alt="Statistics Title">
          Close Explanation
        </button>
      </div>
    </div>
  </div>