<header-menu></header-menu>
<div class="wrapper">
  <div class="leftPanel">
    <div class="title">
    <h2>What is Statistics?</h2>
    <img src="assets/img/statistics_logo.png" alt="Statistics Title" width="50%">
    </div>
    <p>Statistics is the rational study of data (how to collect, interpret, analyze and presentation data
      in order to gain insights, find patterns or predict new outcomes).<br><br>
      First Mathematical foundations of modern statistics appearn in 17th century
      by tha hand of probability theory (Pascal, Fermat, Cardano) studying the changes
      of games. Modern statistics emerged at the final of the 19th century by the hand of
      Karl Pearson (who setted the roots of statistics into rigorous mathematical discipline).<br>
      Latter, Fisher would set the fundamentals of hypothesis testing, which was latter tunned
      by Pearson and Neyman (introducing type II error, the power of a test and confidence intervals).
    </p>
  </div>
  <div class="rightPanel">
    <h2>Statistics methods</h2>
    <h3>Descriptive statistics</h3>
    <p>Aims to quantitatively describe or summarize information about a sample,
      rather than use the data to learn about the population.</p>
      We have provided simple and quick statistics calculators for this kind of statistics methods like
      variance, standard deviation, skewness or kurtosis.
    <h3>Inferential statistics</h3>
    <p>Aims to deduce properties of the underlying probability distribution the sample
      comes from. This includes:
    </p>
    <ul>
      <li>Hypothesis testing: When we want to decide if conclusions about the underlying
        distribution the sample comes from.</li>
      <li>Confidence intervals: Most of the times we want an interval where we can assure or data is with lot of
        probability</li>
      <li>Regression approximators: Finding the best linear approximators (that is,
        a linear function that can explain better the data)
      </li>
      <li>Non linear approximators: Finding the best non-linear approximators
        (non-linear functions, machine learning models, splines)
      </li>
    </ul>
  </div>
</div>
