<header-menu></header-menu>
<div class="wrapper">
  <div class="leftPanel">
    <h2>What is Statistics?</h2>
    <p>Statistics is the rational study of data. First apparences of statistics arrive in the 15th century by the hand
      of sir james boundry: </p>
    <p>One of the question that arrises is about the essence of..: </p>
  </div>
  <div class="rightPanel">
    <ul>
      <li>Hypothesis testing: When we want to decide if conclusions are statistically relevant or not</li>
      <li>Confidence intervals: Most of the times we want an interval where we can assure or data is with lot of
        probability</li>
      <li>Regression approximators: Finding the best linear approximatior</li>
      <li>Descriptive statistics: Learn how to extract meaningful variables from the data</li>
      <li>Distribution charts: Visualize famous statistical distributions and how they are shaped</li>
    </ul>
  </div>
</div>
