<side-modal></side-modal>
<div class="container">
  <div class="title">
    <h2-title [title]="'What is T-Test?'" class="title"></h2-title>
      <div class="knowMore">
        <button (click)="selected = !selected" [class.active]="selected === true">
          <img src="assets/explain-more-down-arrow.svg" alt="Statistics Title" *ngIf="!selected">
          <img src="assets/explain-less-up-arrow.svg" alt="Statistics Title" *ngIf="selected">
          View theoretical explanation
        </button>
      </div>
  </div>
    <p> T - test is used to compare different means from two different groups and establish if there exist a significative difference or not</p>
    <p>
      Example: Assume we have two diferent sets of flower sizes. We get a collection of 25 flowers of each kind of the two different species. We want to analyze
      if there exist a signficant difference between the sizes of both flowers or it is just product of randomnes.
    </p>
    <strong>Hypothesis needed:</strong>
    <li>Both groups are independent</li>
    <li>Both groups are normally distributed</li>
    <li>Both groups have a similar amount of variance within each group being compared (a.k.a. homogeneity of variance)
    </li>

    <p></p>
    <div class="calculator" [formGroup]="formGroup" #options="ngForm">
      <div class="parameters">
        <div class="inputs">
          <strong><label for="significance-level">Enter the significance level:</label></strong><br>
          <input type="text" formControlName="significanceLevel">
        </div>
        <div class="buttonCompute">
          <button class="final" (click)="computeTTest()" [class.blocked]="!options.valid">Compute test</button>
          <span class="errorMessage" *ngIf="!options.valid">Correctly separate values by comma</span>
        </div>
      </div>
      <div class="explanation" formArrayName='textAreaFormArray'>
        <div class="wrapper-textarea" [formGroup]="textareaFormGroup" *ngFor="let textareaFormGroup of getTextareasFormArrayControls(); let i=index">
          <div class="upload-btn-wrapper">
            <b><span>Treatment {{i + 1}}</span></b>
            <button class="btn">Upload a CSV</button>
            <form enctype="multipart/form-data">
              <input type="file" name="myfile" (change)="fileupload($event, i)"/>
            </form>
          </div>
          <textarea formControlName='values'></textarea>
        </div>
      </div>
    </div>
    <div>
    </div>
  <div class="imageWrapper">
    <div #targetScroll class="firstImage">
      <h2 *ngIf="imageToShow1">Boxplot of our data</h2>
      <img [src]="imageToShow1">
    </div>
    <div class="secondImage">
      <h2 *ngIf="imageToShow2">Normality plot for each of the treatments</h2>
      <img [src]="imageToShow2">
    </div>
  </div>
  <popup *ngIf="isComputing">
  </popup>
  <div *ngIf="resultsAnovaNormality">
    <h2>Normality test (Saphiro-Wilk)</h2>
    After seeing the plots, we will apply Shapiro-Wilk test to our data. This tests aims to verify the null hypothesis (Data on each group is normal).
      If the p-values we obtain are smaller than our significance level, we will reject the null hytpothesis. We can see on the third row, a boolean variable stating if in each treatment
      we can consider data to be normal (accept null hypothesis) or we should reject it (H1 hypothesis).<br><br>
    More information about the meaning of each cell value <b><a href="https://pingouin-stats.org/generated/pingouin.normality.html"> here</a></b><br><br>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th *ngFor="let colName of resultsAnovaNormality[0]">{{colName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of resultsAnovaNormality[1]">
          <td *ngFor="let cell of row" [class.green]="cell === true" [class.red]="cell === false">
            {{cell}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="leveneTest" *ngIf="imageToShow1">
    <h2>Homocedasticity Test</h2>
    In order to compute T Test, we should make sure variance is the same in both groups. Levene's Test help us
    verify this assumptions. 3rd row states if we should accept the null hypothesis (all variances over the treatments are equal) or reject it.<br><br>
    More information about the meaning of each cell value <b><a href="https://pingouin-stats.org/generated/pingouin.homoscedasticity.html"> here</a></b><br><br>
    <div *ngIf="resultsHomocedasticity">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th *ngFor="let colName of resultsHomocedasticity[0]">{{colName}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of resultsHomocedasticity[1]">
            <td *ngFor="let cell of row" [class.green]="cell === true" [class.red]="cell === false">
              {{cell}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="resultstTestComputation">
    <h2>T Test Analysis</h2>
    More information about the meaning of each cell value <b><a href="https://pingouin-stats.org/generated/pingouin.ttest.html"> here</a></b><br><br>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th *ngFor="let colName of resultstTestComputation[0]">{{colName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of resultstTestComputation[1]">
        <td *ngFor="let cell of row" [class.green]="cell === true" [class.red]="cell === false">
          {{cell}}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
    <div class="pdfWrapper" *ngIf="selected">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [fit-to-page]="true" style="width: 60%; height: 100vh"
    [show-borders]="true" [render-text-mode]="1">
    </pdf-viewer>
    <div class="closePopup">
      <button (click)="closePopup()">
        <img src="assets/explain-less-up-arrow.svg" alt="Statistics Title">
        Close Explanation
      </button>
    </div>
  </div>
</div>