div.title {
  margin: 0px;
  background-color: #e9bf94;
  width: 100%;

  .wrapper-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    align-items: center;

    h2 {
      margin: 8px;
    }

    color: white;

    a {
      color: white;
      text-decoration: none;
    }
  }

}
