side-modal{

}
header-menu {
  position:sticky;
  top:0px;
}
div.container {

  box-sizing: border-box;

  .wrapper {
    flex-grow: 1;
    // margin-left: 300px;
  }
}

@media screen and (max-width: 480px) {
  side-modal{
    display:none;
  }
  div.container {
    .wrapper {
      margin-left: 0px;
    }
  }
}