div.title {

  background-color: brown;

  .wrapper-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    align-items: center;

    h2 {
      margin: 8px;
    }
  }

}
