<side-modal-descriptive-calculators></side-modal-descriptive-calculators>
<div #prova class="container">
  <div class="title">
    <h2-title [title]="'Skewness Calculator'" class="title"></h2-title>
  </div>
  <p>  <strong> The Skewness </strong>of a distribution gives us a quantifiable way of
  measuring the asymmetry of a distribution.</p>
    Mathematically, the Skewness of a distribution is defined as <span style="display:inline-block" [mathjax]="'$\\mu_{4} = \\mathbb{E}[(\\frac{X - \\mu)}{\\sigma})^{3}]$'"></span>.
    <br>
    In the case we want to compute the best estimator of the Skewness from a sample, we will use: <br><br>
    <span style="display:inline-block" [mathjax]="'$b_{1} = \\frac{\\frac{1}{n}\\sum_{i = 1}^{n}(x_{i}-\\overline{x})^{3}}{(\\frac{1}{n-1}\\sum_{i=1}^{n}(x_{i}-\\overline{x}^{2}))^{\\frac{3}{2}}}$'"></span> <br><br>
    <br>
    <div class="calculator">
      <div class="explanation">
        <div class="wrapper-textarea" [formGroup]="formGroup">
            <h4>Enter your sample</h4>
            <textarea formControlName="values"></textarea>
            <div class="buttonCompute">
              <button class="final" (click)="compute()">Compute skewness</button>
            </div>
        </div>
      </div>
    </div>
  <br>
  <div *ngIf="result">
    <b>The skewness is {{result}}</b>
  </div>
</div>