.container {
  height: 32px;
  display: flex;
  padding: 4px 0px;
  align-items: center;

  a {
    font-weight: bold;
  }
}

.container:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container{
    font-size:10px;
  }
}