.container {
  margin: 32px;

  .title {
    text-align: center;
  }

  .wrapper-items {
    display: flex;
    flex-direction: column;

    .children {
      border: 1px solid rgb(230, 179, 168);
      padding-left: 8px;
      margin: 4px;
    }

    .children:hover {
      background-color: rgb(243, 216, 210);
      box-shadow: 1px 1px rgb(243, 216, 210);
    }

  }

}
