<div class="container">
  <h2>Hypothesis testing</h2>
  <p>
    When we want to know if the result of an empirical experiment is statistically significant or not, we do a
    statistical
    test. In this scenarios we are provided, different data from different group. It is on our hands to do an hypotesis
    test to decide if the results are significant or not.
  </p>
  <div class="wrapper">
    <div class="leftPanel">
      <li routerLink="../anova">Anova</li>
      <li routerLink="../chiSquared">Chi Squared</li>
      <li>T Student</li>
      <li>Normality</li>
    </div>
    <div class="rightPanel">
      <li>Chi squared</li>
      <li>Anova</li>
      <li>T Student</li>
      <li>Normality</li>
    </div>
  </div>
</div>
