<div class="container">
  <h2-title [title]="'List of descriptive statistics calculators'" class="title">
  </h2-title>
  <div class="wrapper-items">
    <descriptive-link [title]="'Variance Calculator: &nbsp  '"
      [description]="'Use this calculator to compute the variance of a given set of data'" [url]="'/variance'"
      class="children">
    </descriptive-link>
    <descriptive-link [title]="'Mean, Median, Mode Calculator: &nbsp  '"
      [description]="' Use this calculator to compute mean, mode and median of a given set of data'" [url]="'/mean-median-mode'"
      class="children">
    </descriptive-link>
    <descriptive-link [title]="'Skewness Calculator: &nbsp  '"
      [description]="'Use this calculator to skewness of a given set of data'"  [url]="'/skewness'" class="children">
    </descriptive-link>
    <descriptive-link [title]="'Kurtosis Calculator: &nbsp  '"
      [description]="'Use this calculator to compute the kurtosis of a given set of data'" [url]="'/kurtosis'" class="children">
    </descriptive-link>
    <descriptive-link [title]="'Geometric Mean Calculator: &nbsp  '"
      [description]="'Use this calculator to compute the geometric mean of a given set of data'" [url]="'/geometric-mean'" class="children">
    </descriptive-link>
    <descriptive-link [title]="'Harmonic Mean Calculator: &nbsp '"
      [description]="'Use this calculator to compute the harmonic mean of a given set of data'" [url]="'/harmonic-mean'" class="children">
    </descriptive-link>
    <descriptive-link [title]="'Sum of inverses Calculator: &nbsp '"
      [description]="'Use this calculator to compute the harmonic mean of a given set of data'" [url]="'/sum-inverses'" class="children">
    </descriptive-link>
    <descriptive-link [title]="'Sum of squares Calculator: &nbsp '"
      [description]="'Use this calculator to compute the sum of squares of a given set of data'" [url]="'/sum-squares'" class="children">
    </descriptive-link>
    <descriptive-link [title]="'Sum of cubes Calculator: &nbsp '"
      [description]="'Use this calculator to compute the sum of cubes of a given set of data'" [url]="'/sum-cubes'" class="children">
    </descriptive-link>
  </div>
</div>
