<side-modal-descriptive-calculators></side-modal-descriptive-calculators>
<div #prova class="container">
  <div class="title">
    <h2-title [title]="'Harmonic Mean Calculator'" class="title"></h2-title>
  </div>
  <p>  <strong> The Harmonic Mean </strong>of a sample is defined as <span style="display:inline-block" [mathjax]="'$\\frac{n}{\\sum_{i = 1}^{n}\\frac{1}{x_{i}}}$'"></span>.<br>
  <div class="calculator">
    <div class="explanation">
      <div class="wrapper-textarea">
          <h4>Enter your sample</h4>
          <textarea></textarea>
          <div class="buttonCompute">
            <button class="final">Compute test</button>
          </div>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="result">
  The mean is {{result}}
  </div>
</div>

