<side-modal-descriptive-calculators></side-modal-descriptive-calculators>
<div #prova class="container">
  <div class="title">
    <h2-title [title]="'Mean Calculator'" class="title"></h2-title>
  </div>
  <p>  <strong> The Mean </strong>of a distribution gives us a quantifiable way of
  measuring expected value (the center of gravity) of a distribution.</p>
    Mathematically, the Mean of a distribution is defined as <span style="display:inline-block" [mathjax]="'$\\mu = \\mathbb{E}[X ]$'"></span>. That is,
    the infinite sum(in the continuous case) of (the value multiplied by the probability of this value to happen).<br>
    In the case we want to compute the best estimator of the mean from a sample, we will use: <br><br>
    <span style="display:inline-block" [mathjax]="'$\\mu = \\frac{1}{n}\\sum_{i = 1}^{n}x_{i}$'"></span><br><br>
    <br>
  <div class="calculator">
    <div class="explanation">
      <div class="wrapper-textarea">
          <h4>Enter your sample</h4>
          <textarea></textarea>
          <div class="buttonCompute">
            <button class="final">Compute test</button>
          </div>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="result">
  The mean is {{result}}
  </div>
</div>
