<header-menu></header-menu>
<div class="container">
    <h1>Public Open Roadmap</h1>
    <p>Starting your own project is always tough at the beginning. Hereby I will share all the problems that I have had building it as well as a separations of tasks that
        by weeks and problems I have faced.</p>
            <h2>Stack used</h2>
            <li><strong>Angular for the frontend.</strong> Angular is a JS framework that
                helps us abstract different features (routings inside the platform, reuse components) and many more.
                This was not explicitly needed. You could just go with plain HTML, CSS and Vanilla JS.
                But if you happen to know a framework, you can use it and it will speed up lots of processes.
                In my case, I wanted to use a framework to reuse components all over the platform. Both React and Vue would
                also have been really useful. Just make sure you choose one that you are already comfortable with
                or one that has really good documentation. <a href="https://www.reddit.com/r/webdev/comments/atgke2/react_vs_vanilla_js_when_to_use_each_of_them/">Check here</a> for more info
            </li><br>
            <li>
            <strong>Python for the backend. </strong>This choice was tricky. I had almost no experience with Python. I have done all backends in NodeJS. Since
                this platform has to deal with statistics algorithms, Python or R would simplify a lot some processes since
                the statistics comunity is heavy reliant into both of them. <br> The fact that I ended up chosing Python over R was because lots
                of backends are made with Python and thus, it would be way easier to set up a backend and comunicate with
                the frontend better than using R.
            </li><br>
        <li>
            <strong>Google Cloud as my cloud provider and Firebase as my database.</strong> I would like to move my stack to DynamoDB and AWS but since I have
            work experience with the former one, I prefer to use GCloud. I would like to move at some point to move my cloud vendor to AWS since I deeply think
            up to this moment it is way more complete and has more features. <br> Since at this point I don't care THAT much about complex features
            and both platforms will be useful, I will go with Google Cloud since it will be faster for me.

            I want to be prepared for high traffic and scalability, that's why, deciding exactly which servers/containers/structures exactly inside Google Cloud
            will be done later.
        </li>
    <br>
        <li>
        <strong>
        Hosting: Firebase
        </strong>
        </li>
        <br>
        <li>
        <strong>
            DNS provider
        </strong>
        </li>
        <h2>Project considerations</h2>
    <p>Some initial considerations regarding this project should be made</p>
    <li>This project aims for helping people do statistics, simplifying some tedius calculations processes.</li><br>
<li>I want this to have formality over usability. If at some point I feel like I am adding new features just
    to have a bigger platform, I will have missed my goal. <a href="https://www.minimalismmadesimple.com/home/17-reasons-why-less-is-more/">Less is More</a>
    I want this to be a place where somebody that wants to learn, can learn, not just lots of calculators that do
    the computations without explanation.
</li> <br>
<li>
    I want to do things fast, simple and working. If something works, it will be kept this way. No over complexities,
    no what ifs, I want to follow the principles of Agile and keep iterating and obtaining feedback. Value will be
    defined by the users, not by mysefl.
</li> <br>
<li>
    This project will <strong>not have unit testing</strong>. I know my boss would kill me if he saw that but, I want to do it really fast,
    as an <a href="https://www.whatisanindiemaker.com/">indie maker</a>, and it will be just myself dealing with the code. <strong>Warning:</strong>This is a must NOT do in
software development.<br> All code should be tested, specially if you want to build robust, mantainable, shared code.<br>
Since in this case, it will just be myself and the time to develop this platform is really limited, I have taken the permission to not follow best software practices. Lets see
how it goes 😳.
</li> <br>
<h2>Weekly 1 goals</h2>
<li>Do a competitive study on the comptence</li>
<li>Diferentiate my project from the competence.
    Which tools could be improved? How would I do it better?
</li>
<h2>Weekly 2 goals</h2>
<li>Build Figma desing(I have really bad eye for UX). Luckily my brother does not, and he helped me with that part.</li>
<li>Tune the color palette that I will use all over the platform</li>
<h2>Weekly 3 goals</h2>
<li>Decide the name of the platform</li>
<li>Start building frontend</li>
<li>Decide module structure, initial components needed.</li>
<h2>Weekly 4 goals</h2>
<li>
    Have extremely basic mockup working (with routing working, components created and properly styled)<br>
    <img width="50%" [src]="'assets/img/initial_mockup.png'">
</li>
<h2>Weekly 5 goals</h2>
<li>Up to this point, I face the first technical challenge. I have tried to use ChartJS for client side charts. Some problems arise with this.
    First of all, it introduces a lot of communication between the backend results of the statistics tests and the frontend library. This turns into
    multiple parameters returned by the backend need to be parsed and then introduced into the frontend charting library.
    Secondly, Python is way more prepared to chart statistics graphs. I could generate the output on the backend and send the results (image included). In the backend, charting the results with Python is way more immediate and provides better results
to the user. Thats why I decided to go with this second option. We should be aware that comes with a tradeoff of more bandwidth used in client side to be able
to receive the image from the backend<br>
</li><br>,
<li>Cloud environment preparation in order to be able to deploy servers, databases and hostings.
    As previously mentioned I chose Firebase and Gcloud. Setting up the initial steps is not hard.
Follow this link (for Firebase) configuration. Firebase offers a very powerful CLI that works really good and makes developer lives way easier. <br>
The first step to do was to using  <a href="https://firebase.google.com/docs/hosting">Firebase as a hosting.</a> We want to have a mockup URL(with the .firebaseapp.com) where we can deploy our code and show
it to other people. To do so, we need to upload all the static files that firebase need to return when the URL will be called. As I said, follow the steps in
the guide and you will be able to deploy it.
</li><br>
<img width="50%" [src]="'assets/img/firebase_deploy.png'">
<li>Set up a Python server on Google Cloud. As a starting point I will make it work using google cloud functions(lambdas in AWS). This are perfect for
    scalability and just using what you need and not caring much about the infraestructure. Cloud functions comes with the tradeoff of cold starts (that is,
the function experiences a signficant relay the first time it is called in a while(5-15) minutes more or less. This is no problem if you have enough traffic,
otherwise you end up loosing 1-1.5 seconds which are really valuable for user retention. Another option to explore(when looking at user metrics) would be to move
it into Cloud Run (which resembles way more a traditional server) and can handle thousands of calls at the same time.</li>
<li>To set up a cloud function in Python we have used gcloud CLI. We already deployed our frontend into the hosting using Firebase CLI, but,
    in this case, we will need gcloud CLI, since Firebase CLI is only prepared for dealying with deployments of functions written in TS/JS.
    Just install <a href="https://cloud.google.com/sdk/docs/install">gcloud CLI</a> and deploy them using the commands staten <a href="https://cloud.google.com/functions/docs/concepts/python-runtime">here</a>
</li>
<li>Choosing which Python web framework (Django or Flask)</li>
<li>Once we know we will be using Flask, we will start trying to deploy a first Hello World function.
    Once we have achieved that, we will call this mock function from the frontend using http client library in Angular.
    It is important to go step by step making sure the previous one works before moving to the next one. This way, we can
    guarantee we are building a solution that will end up working.
</li>
<br>
<h2>Weekly 7 goals</h2>
<li>This week was basically devoted to learn the basics of Flask and how to set up a backend with Python in this framework.
    Flask is a framework that helps us build a straightforward webserver in an easy and intuitive way. The integration with it, even
    for non-Python developers is really easy.<br><br>
    That does not mean you won't encounter different kind of errors. It has taken me a while and some mistakes to correctly do the set up.
    I will share here some of the mistakes I have faced. Remember to face mistakes as oportunities to learn more and not let them take down
    your self esteem. It is part of the developers job and you will face lots of them in your career, so, better be prepared and with a
    positive mindset.
    <ul>
        <li><h2>1. CORS.</h2> The most classic one. You will always have this error when setting up a web server and if you
            don't receive it at first, either it is not the first time you set up a web server or you are in a big trouble
        <img width="50%" [src]="'assets/img/cors.png'"><br>
    You can read a little bit about what CORS policies are, why they are needed, and how to set them up <a href="https://web.dev/cross-origin-resource-sharing/">here</a>.
        </li>
        <li>
            <h2>2. Multithreading</h2>
            <img width="50%" [src]="'assets/img/matplotlib_thread.png'"><br>
            Honestly, this one was way more tricky and harder to debug, since CORS is an extremely common issue and is very well documented
            but not this one.

            *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '+[NSUndoManager(NSInternal) _endTopLevelGroupings] is only safe to invoke on the main thread.'

            Basically we were executing code in multiple threads in our backend. This is due to the nature of matplotlib GUI.
            When we are executing scripts in Jupyter for example and we want to generate a plot, this set of plot instructions are
            executed in a different thread. <br>
            Multithreading programming allows to speed things. If we have 2 subtasks (A and B) and each task does not need the other, we can
            execute them in different computer processing unit and speed the process. The problem is if they share 'state', like in this case.
            Here the 'state' is a common graph in which the two subtasks are changing things. To solve this issue, I noticed that
            there was no need to plot the graph in the backend(Our backend will be in a Cloud in Belgium), the only thing we need
            is to be able to 'save' the graph, not 'render' it on the backend.<br>
            Once I changed this, I was able to correclty generate, save and send the image from the backend to the frontend.
        </li>
        <li>Many other little mistakes have appeared in the process, I just showed two of them as examples</li>
    </ul>
</li>
<li>
    Continuing with goals this week. I would like to parse ANOVA input and generate the correspondig graphics and results
    in the frontend. I have been able to correclty connect and send images from both places right now so I believe it is doable
    to have it all set for two days from now.
</li>

<li>First mistakes (CORS). We have to investigate how to set up an origin for the cors policy. CORS is a classic error you
will have when setting and calling a new server. Read more about what is the problem and what should be the solution .
</div>