<div #prova class="container">
  <h2-title [title]="'What is Kolmogorov Smirnov?'" class="title"></h2-title>
  <p> Kolmogorov Smirnov is a widely used test in statistics that tells us if two populations come from the same population or not. </p>
  <p>
Our null hypothesis will be the two sets of samples come from the same (unknown) distribution. We will try to establish an statistic and set some p-values. In order to do that we will
compute the empirical distributions function for the two samples. <br><br>Our statistic will be:
<span style="display:inline-block" [mathjax]="'$D_{n, m} = \\sup_{x} |(F_{1, n}(x) - F_{2, m}(x))|$'"></span>. The null hypothesis is rejected at level <span style="display:inline-block" [mathjax]="'$\\alpha$'"></span> if
<span style="display:inline-block" [mathjax]="'$D_{n, m} > c(\\alpha)\\sqrt{\\frac{n + m}{n*m}}$'"></span> being <span style="display:inline-block" [mathjax]="'$c(\\alpha)$'"></span> an already precomputed table and
<span style="display:inline-block" [mathjax]="'$\n$'"></span> and <span style="display:inline-block" [mathjax]="'$\m$'"></span> de number of observations in each sample.
  </p>
    We want to test the null hypothesis <span style="display:inline-block" [mathjax]="'$H0$'"></span>: which states that there is no differences between the mean of the different groups, with respect to the alternative
    hypothesis <span style="display:inline-block" [mathjax]="'$H1$'"></span>, which states that there exists at least a pair of distinct means.
    Formally this can be staten as: <br><br>
    <div class="hypothesis">
      <div class="hypothesis-box">
        <div class="inline" [mathjax]="'$H0: D_{1} = D_{2}$'"></div>
        <div class="inline" [mathjax]="'$H1: D_{1} \\hspace{0.2cm} \\neq D_{2}$'"></div>
      </div>
    </div>
    <br>
  <div class="calculator" [formGroup]="formGroup">
    <div class="parameters">
      <div class="inputs">
        <strong><label for="significance-level">Enter the significance level:</label></strong><br>
        <input type="text" id="significance-level" value="0.05">
      </div>
      <div class="buttonCompute">
        <button class="final" (click)="computeAnova()">Compute test</button>
      </div>
    </div>
    <div class="explanation" formArrayName='textAreaFormArray'>
      <div class="wrapper-textarea" [formGroup]="textareaFormGroup" *ngFor="let textareaFormGroup of getTextareasFormArrayControls(); let i=index">
          <h4>Treatment {{i + 1}}</h4>
          <textarea formControlName='values'></textarea>
      </div>
    </div>
  </div>
  <div *ngIf="resultskolmogorovSmirnovValues">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th>Statistic</th>
          <th>P-Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let value of resultskolmogorovSmirnovValues">{{value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>