<side-modal-descriptive-calculators></side-modal-descriptive-calculators>
<div #prova class="container">
  <div class="title">
    <h2-title [title]="'Sum Of Inverses Calculator'" class="title"></h2-title>
  </div>
  <p>  <strong> The Sum Of Inverses </strong>of a sample is defined as <span style="display:inline-block" [mathjax]="'$\\sum_{i = 1}^{n}\\frac{1}{x_{i}}$'"></span>. <br>
    <br>
  <div class="calculator">
    <div class="explanation">
      <div class="wrapper-textarea">
          <h4>Enter your sample</h4>
          <textarea></textarea>
          <div class="buttonCompute">
            <button class="final">Compute test</button>
          </div>
      </div>
    </div>
  </div>
  <br>
Total variance is {{variance}}
<div *ngIf="true">
  <div style="display: block">
<!--     <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [type]="'bar'">
    </canvas> -->
  </div>
</div>
