.container {
  margin: 32px;

  .title {
    text-align: center;
  }

  .wrapper-items {
    display: flex;
    flex-direction: column;

    .children {
      border: 2px solid rgb(243, 216, 210);
      padding-left: 8px;
      margin: 4px;
    }

    .children:hover {
      box-shadow: 3px 3px rgb(243, 216, 210);
    }

  }

}
