<header-menu></header-menu>
<div class="container">
  <h2-title [title]="'List of descriptive statistics calculators'" class="title">
  </h2-title>
  <div class="wrapper-items">
    <descriptive-link [title]="'Variance Calculator: &nbsp  '"
      [description]="'Use this calculator to compute the variance of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Mean, Median, Mode Calculator: &nbsp  '"
      [description]="' Use this calculator to compute mean, mode and median of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Skewness Calculator: &nbsp  '"
      [description]="'Use this calculator to skewness of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Kurtosis Calculator: &nbsp  '"
      [description]="'Use this calculator to compute the kurtosis of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Geometric Mean Calculator: &nbsp  '"
      [description]="'Use this calculator to compute the geometric mean of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Harmonic Mean Calculator: &nbsp '"
      [description]="'Use this calculator to compute the harmonic mean of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Standard Deviation Calculator: &nbsp '"
      [description]="'Use this calculator to compute the standard mean of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Sum of squares Calculator: &nbsp '"
      [description]="'Use this calculator to compute the sum of squares of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Sum of cubes Calculator: &nbsp '"
      [description]="'Use this calculator to compute the sum of cubes of a given set of data'" class="children">
    </descriptive-link><br>
    <descriptive-link [title]="'Sum of inverses Calculator: &nbsp '"
      [description]="'Use this calculator to compute the harmonic mean of a given set of data'" class="children">
    </descriptive-link><br>
  </div>
</div>
